<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  
    <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span>&#9733; <b>General   informations</b> &#9733;</span>
        </ng-template>
        <ng-template ngbPanelContent>
        
                <form>
                        <div class="form-group">
                           <input type="number" class="form-control" id="age" placeholder="Age" >
                        </div>
                   
                        <div class="form-group">
                          
                          <input type="text" class="form-control" id="sex" placeholder="sex">
                        </div>
                        <div class="form-group">
                               
                                <input type="text" class="form-control" id="location" placeholder="location">
                              </div>
                   
                   
                      </form>
        
        </ng-template>
      </ngb-panel>
    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
          <span>&#9733; <b>Start the questionnaire </b>  &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <app-forms></app-forms>
      </ng-template>
    </ngb-panel>
    
  </ngb-accordion>