<br />
<br />
<br />
<span>Liste des formulaires:</span>
<select [ngModel]="selected" class="form-control" (change)="sondageChange($event.target.value)" title="Liste des formulaires:" >

  <option *ngFor="let u of sondages  " [value]="u.id" >
    <label for="quest"> Formulaire n° {{u.id}} : </label> {{u.titre}} {{u.contenu}}
    
  </option>

</select>
<br />

<section *ngIf="selected">
<form (ngSubmit)="onSubmit($event)">


    <ul>
    <li class="list-group-item" *ngFor="let question of composants;let i = index" value="question" >
      <h4>Q n° {{i+1}} :  {{question.Question.contenu}}</h4>
       <br/>
       <form>
      <section *ngIf=" question.TypeReponse.id == 1;">
        <p *ngFor="let rep of question.Question.Reponse">
            <input type="radio" name="reponse" [ngModel]="selectedRep" (change)="reponsChange($event.target.value)" [value]="rep" >{{rep.contenu}}
        </p>
      </section>
    </form>
    <form >
      <section *ngIf=" question.TypeReponse.id == 2;">
        <p *ngFor="let repp of  question.Question.Reponse">
          <input type="checkbox" name="repons" [ngModel]="selectedRep" [value]="repp">{{repp.contenu}}
        </p>
      </section>
    </form>
    <form>
      <section *ngIf=" question.TypeReponse.id == 3;">
          <textarea  name="repon" rows="10" cols="30"></textarea>
      </section>
      
    </form>
    </li>
    </ul>

<br />

  <button type="submit" class="btn btn-outline-secondary" ngbPopover="Réponse envoyée avec succès!"
  popoverClass="my-custom-class">
  Submit
</button>
 
</form>
</section>


