<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


  <p>
      <ngb-alert type="custom" [dismissible]="false"><strong>Bonjour!</strong> 
        Point d'orgue de l'évaluation de la satisfaction client, l'enquête est un moment fort dans la démarche. 
        <p>
        En effet, elle permet de faire le lien entre la qualité voulue par le  formateur et la qualité perçue par le apprenants .  </p>
        <ol>
            <li><strong>Pour vous guider </strong></li>
            <li><strong>Vous avez deux menu :</strong>
              <ul>
                <li>Choisir un questionnaire et à y répondre</li>
                <li>liste des statisques des formulaires clôturés par l'administrateur</li>
       
              </ul>
            </li>
          </ol>
      </ngb-alert>
  
  </p>